# Core Dependencies
librosa==0.11.0
soundfile==0.13.1
xgboost==2.1.4
language-tool-python==2.9.2
textstat==0.7.5
spacy==3.8.5
whisper==1.1.10
webrtcvad==2.0.10
pandas==2.0.2
numpy==1.24.3
scikit-learn==1.6.1
matplotlib==3.7.1
tqdm==4.67.1

# NLP Specific
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl

# Audio Processing
pydub==0.25.1
pyaudio==0.2.13